@import "../assets/scss/layout";
@import "../assets/scss/utilities";

// orange: #f96c63/#f87f64, #ef6817 grey: #282c34/#1c2329; green: #05858d;
// dark-green:#1f4954; light-white: #f7f7f8;

$primary: white;
$secondary: black;

$black-color: black;
$white-color: white;
$grey-color: lighten($black-color, 9.02);
$montserrat: "Montserrat", sans-serif;

::-webkit-scrollbar {
  display: none;
}

/*-- Common Elements Starts--*/

body {
  font-family: $montserrat;
  background: $secondary;
  color: $primary;
}

.main {
  display: flex;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

// Temp logo style
.logo-custom {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 1;

  @media (max-width: 767px) {
    font-size: 25px;
  }
}

.header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
  height: auto;
  background: transparent;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    padding: 20px;
  }

  .logo {
    display: inline-block;

    @media (max-width: 767px) {
      img {
        width: 56px;
      }
    }
  }
}

.social-media-logos {
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 3;

  @media (max-width: 767px) {
    right: 10px;
  }

  a {
    color: $primary;
  }

  @media (max-width: 767px) {
    opacity: 0;
    visibility: hidden;
    display: none;

    &.active {
      opacity: 1;
      visibility: visible;
      display: block;
    }
  }

  &.active {
    a {
      color: $secondary;
    }
  }
}

.mail-fixed {
  position: fixed;
  left: 40px;
  bottom: 10px;
  transform: rotate(-90deg);
  transform-origin: left;

  @media (max-width: 767px) {
    display: none;
  }
}

.morph-wrap1,
.morph-wrap2 {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  pointer-events: none;
  animation: rotateTransition 150s linear infinite normal;
  transform-origin: center center;
  z-index: -5;
}

.morph-wrap1 {
  top: -30%;
  right: -34%;
  bottom: auto;
  left: auto;

  @media (max-width: 767px) {
    top: -25%;
    right: -25%;
  }
} 

.morph-wrap2 {
  top: auto;
  right: auto;
  left: -36%;
  bottom: -27%;

  @media (max-width: 767px) {
    left: -25%;
    bottom: -25%;
  }
}

.morph1,
.morph2 {
  position: relative;
  fill: none;
  stroke-width: 90px;
  stroke: #1f1f1f;
  width: 100%;
  height: 100%;
}

.text-grey {
  color: lighten($grey-color, 38);
}

// in case of smoothscroll
.viewport {
  margin: 0 0 0 0;
  width: 100vw;
  overflow-x: hidden;
  position: fixed;
}

h1 {
  position: relative;
  text-align: left;
  letter-spacing: -0.01em;
  pointer-events: none;

  &.fs110 {
    font-size: 110px;
    font-weight: 100;
    line-height: 1;
    margin-left: -10px;

    @media (max-width: 1600px) {
      font-size: 95px;
      margin-left: -8px;
    }

    @media (max-width: 1400px) {
      font-size: 80px;
      margin-left: -8px;
    }

    @media (max-width: 991px) {
      font-size: 60px;
      margin-left: -6px;
    }

    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 1.2;
      margin-left: -3px;
    }
  }

  span {
    color: lighten($grey-color, 28);
  }
}

a {
  color: $primary;
  cursor: pointer;
}

.highlighted-text {
  color: $primary;
  font-weight: 300;
  letter-spacing: 1px;

  @media (max-width: 991px) {
    display: inline-block;
    margin-bottom: 14px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.underlined {
  position: relative;
  display: inline-block;

  &.thin {
    color: $white-color;
    &::after {
      width: 100%;
      height: 1px;
    }

    &:hover {
      &::after {
        height: 2px;
      }
    }
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 2px;
    height: 2px;
    background: rgba($primary, 0.5);
    width: 0;
    transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &:hover,
  .current & {
    &:after {
      width: 100%;
      transition: width 1.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
/*-- Common Elements Starts--*/

/*-- Cursor style and hover Starts--*/
.hover-this {
  transition: all 0.3s ease;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.8rem;
  border: 1px solid $primary;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-15px, -10px);
  mix-blend-mode: difference;
  transition: transform 0.1s ease;
  z-index: 99;

  @media (max-width: 991px) {
    display: none;
  }
}

.hover-this:hover .cursor,
.cursor.active {
  transform: translate3d(-50%, -50%, 0) scale(1.7);
  transform-origin: center center;
  background: transparent;
  border: 1px solid $primary;
  mix-blend-mode: difference;
}

/*-- Cursor style and hover Ends--*/
.component-wrap {
  margin: 200px 0;

  @media (max-width: 991px) {
    margin: 85px 0;
  }
}

.routed {
  position: relative;
  flex: 0 0 100%;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);

  .content-wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    height: 100vh;

    @media (max-width: 991px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    &.scrollable-mobile {
      @media (max-width: 991px) {
        height: auto;
        margin: 85px auto;
        flex-direction: column;
      }
    }

    &.scrollable {
      height: inherit;
      flex-direction: column;

      @media (max-width: 991px) {
        margin: 85px auto;
      }
    }
  }

  &:after {
    content: "";
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($black-color, 0.8);
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.8s 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  &.active {
    &::after {
      visibility: visible;
      opacity: 1;
      transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}

.overlay {
  background: rgba($primary, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    transition: opacity 0.5s ease, visibility 0.5s ease;
  }
}

.main-content {
  @extend %show-content;

  a {
    color: $primary;

    &:focus,
    &:active,
    &.active {
      outline: none;
    }
  }
}

/*---menu and navigation style starts---*/
.menu-burger {
  display: block;
  height: 30px;
  width: 40px;
  outline: none;
  z-index: 2;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media (max-width: 767px) {
    top: 20px;
    right: 24px;
    width: 24px;
  }

  &.active {
    > span {
      background: $secondary;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:nth-child(1),
      &:nth-child(2) {
        position: absolute;
        top: 50%;
      }
      &:nth-child(1) {
        transform: rotate(45deg) translateY(-50%) translateZ(0);
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translateY(-50%) translateZ(0);
      }
    }

    &:focus {
      outline: none;
    }
  }

  > span {
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 12px;
    background: $primary;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    @media (max-width: 767px) {
      width: 26px !important;
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: 40px;
    }
  }

  &:hover:not(.active) {
    > span {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:nth-child(1) {
        width: 30px;
      }
    }
  }
}

.navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background: $primary;
  z-index: 2;
  transform: translate3d(110%, 0, 0);
  transition: all 0.4s 0.1s cubic-bezier(0.615, 0.19, 0.305, 0.91);

  @media (max-width: 991px) {
    width: 70%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  &.active {
    transform: translate3d(0, 0, 0);
    transition: all 0.4s cubic-bezier(0.615, 0.19, 0.305, 0.91);

    .menu-items {
      a:not(.button) {
        > span {
          transform: translate3d(0, 0, 0);
          transition: all 0.8s cubic-bezier(0.615, 0.19, 0.305, 0.91);
        }
      }

      a.button {
        opacity: 1;
        transition: all 0.8s 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
      }
    }

    ~ .header-inner {
      z-index: 2;
    }
  }

  .menu-items {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 100px 50px;

    @media (max-width: 767px) {
      margin: 100px 24px;
    }

    a:not(.button) {
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 8px 0;
      font-size: 70px;
      font-weight: 600;
      line-height: 1;
      color: $secondary;

      @media (max-width: 767px) {
        font-size: 40px;
      }

      > span {
        display: inline-block;
        transform: translate3d(0, 150%, 0);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

        &:after {
          background: rgba($secondary, 0.5);
          height: 2px;
        }
      }
    }

    a.button {
      display: inline-block;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
/*---menu and navigation style ends---*/

.project-wrap {
  display: block;
  width: 100%;

  .project {
    display: block;
    margin-bottom: 100px;

    @media (max-width: 991px) {
      margin-bottom: 70px;
    }

    .project-image {
      display: flex;
      align-items: center;

      @media (max-width: 1024px) {
        display: block;
      }

      .image-wrap {
        margin-right: 100px;
        margin-left: 0;
        max-width: 60%;

        @media (max-width: 1200px) {
          margin-right: 60px;
        }

        img {
          width: 100%;
        }

        @media (max-width: 1024px) {
          max-width: 100%;
          margin-right: 0;
        }
      }

      .project-title {
        max-width: 40%;

        @media (max-width: 1024px) {
          max-width: 100%;
        }
      }
    }

    .project-title-inline {
      font-size: 40px;
      margin-bottom: 20px;

      @media (max-width: 1200px) {
        font-size: 40px;
        margin-bottom: 14px;
        margin-top: 14px;
      }

      @media (max-width: 767px) {
        font-size: 25px;
      }

      span {
        ul {
          display: flex;
          margin-bottom: 0;
          margin-top: 16px;
          flex-wrap: wrap;

          li {
            margin-right: 26px;
            font-size: 14px;
          }
        }
      }
    }

    &:nth-child(even) {
      .project-image {
        flex-direction: row-reverse;

        img {
          margin-right: 0;
          margin-left: 100px;

          @media (max-width: 1024px) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.home-wrap {
  .intro-text {
    width: 60%;
  }
}

.intro-para {
  margin: 50px 0;
  width: 80%;

  @media (max-width: 767px) {
    margin: 30px 0;
    width: 100%;
  }
}

/*--Keyframes Starts--*/
.block-reveal {
  overflow: hidden;
  position: relative;
  height: inherit;
  z-index: 11;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: $primary;
    z-index: 11;
    animation: block-reveal 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

@keyframes block-reveal {
  0% {
    left: 0;
    width: 0%;
  }

  50% {
    left: 0;
    width: 100%;
  }

  100% {
    left: 100%;
    width: 0%;
  }
}

%show-content {
  opacity: 0;
  animation: show-content 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes show-content {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

%show-content-bottom {
  animation: show-content-bottom 0.3s ease forwards;
  animation-delay: 0.5s;
}

@keyframes show-content-bottom {
  0% {
    transform: translateY(101%) translateZ(0);
  }
  100% {
    transform: translateY(0) translateZ(0);
  }
}
/*--Keyframes Ends--*/

.separator {
  display: block;
  width: 100px;
  margin: 30px 0;
  border-top: 3px solid $primary;

  &.white-separator {
    border-color: $white-color;
  }
}

@keyframes rotateTransition {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  margin-bottom: 50px;
  font-size: 50px;

  @media (max-width: 767px) {
    margin-bottom: 28px;
    font-size: 28px;
  }
}

ul {
  &.bullets {
    li {
      position: relative;
      padding-left: 20px;

      &:before {
        content: "";
        position: absolute;
        display: inline-block;
        width: 4px;
        height: 4px;
        top: 10px;
        left: 1px;
        background-color: $primary;
      }
    }
  }
}

button,
.button {
  display: inline-block;
  padding: 14px 20px;
  border: 1px solid $primary;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: $primary;
  background: transparent;

  @media (max-width: 767px) {
    font-size: 14px;
  }

  svg {
    display: none;
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $primary;
    stroke-width: 1;
    transform: translateX(-5px);
    transition: all 0.85s ease;
  }

  &:hover,
  &:focus,
  &:active {
    background: rgba($primary, 0.1);
  }

  &.invert {
    border: 1px solid $secondary;
    color: $secondary;

    svg {
      stroke: $secondary;
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba($secondary, 0.1);
    }
  }

  &.btn-small {
    padding: 10px 14px;
    font-size: 12px;
  }
}

.about-wrap {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    flex-direction: column;
  }

  .image-wrapper {
    flex: 0 0 38%;
    position: relative;
    overflow: hidden;
    align-self: center;
    height: 600px;
    max-height: 600px;

    @media (max-width: 1200px) {
      flex: 0 0 50%;
    }

    @media (max-width: 991px) {
      flex: 0 0 100%;
    }

    > img {
      height: auto;
      width: auto;
      position: absolute;
      top: -100%;
      bottom: -100%;
      margin: auto;
      overflow: hidden;
      max-width: none;
      left: -100%;
      right: -100%;

      @media (max-width: 991px) {
        position: static;
        width: 100%;
      }
    }
  }

  .about-content {
    flex: 0 0 62%;
    padding: 60px;
    overflow: auto;

    @media (max-width: 1200px) {
      flex: 0 0 50%;
      padding: 15px;
    }

    @media (max-width: 991px) {
      flex: 0 0 100%;
      padding: 0;
    }
  }
}

// Temp responsive image
.responsive-image {
  position: relative;
  overflow: hidden;

  > img {
    height: auto;
    width: auto;
    position: absolute;
    top: -100%;
    bottom: -100%;
    margin: auto;
    overflow: hidden;
    max-width: none;
    left: -100%;
    right: -100%;

    @media (max-width: 991px) {
      position: static;
      width: 100%;
    }
  }
}

// accordian style
.accordion {
  width: 100%;

  .panel {
    background-color: transparent;

    &:not(:last-child) {
      margin-bottom: 3px;
      padding-bottom: 3px;
      border-bottom: 1px solid #252525;
    }

    &[aria-expanded="true"] {
      .panel-content {
        opacity: 1;
      }

      .panel-label {
        color: $primary;

        &:before {
          transform: rotate(0deg);
        }
      }
    }
  }

  .panel-label {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 20px 60px 20px 0;
    font-weight: 500;
    line-height: 1.4;
    font-size: 17px;
    font-family: inherit;
    transition: color 0.2s linear;

    &:hover,
    &:focus {
      background: transparent;
    }

    &:focus {
      outline: none;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      right: 25px;
      top: 50%;
      width: 16px;
      height: 2px;
      background-color: $primary;
    }

    &:before {
      transform: rotate(-90deg);
      transition: -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
      transition: transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1),
        -webkit-transform 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    }
  }

  .panel-inner {
    overflow: hidden;
    will-change: height;
    transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  }

  .panel-content {
    margin: 10px 0px 25px;
    font-size: 14px;
    color: $primary;
    opacity: 0;
    transition: opacity 0.3s linear 0.18s;

    p,
    ul {
      font-size: 14px;
    }
  }
}

.inverse-section {
  padding: 100px 0;
  background: #151515;

  @media (max-width: 767px) {
    padding: 1px 0;
    margin-top: -85px;

    &.scrollable {
      margin: 0 !important;
    }
  }
}

table {
  margin: 0 -20px;

  @media (max-width: 767px) {
    margin: 0;
    font-size: 14px;
  }

  td,
  th {
    vertical-align: middle;
    padding: 10px 20px;

    @media (max-width: 767px) {
      padding: 10px;
    }
  }

  thead {
    th {
      padding-bottom: 30px;
    }
  }

  tbody {
    tr {
      &:hover {
        background: rgba($primary, 0.1);
      }
    }
  }
}
