@import "../assets/scss/reset";
@import "../assets/scss/utilities";
@import "../assets/scss/structure";
@import "../assets/scss/color";

$primary: white;
$secondary: #252525;
$morph-bg: #1f1f1f;
$morp-nav: #eaeaea;
$para-font-weight: 400;
$acent: #f87f64;

// $primary: black; 
// $secondary: white;
// $morph-bg: #eaeaea; 
// $morp-nav: lighten(black, 12.16);
// $para-font-weight: 400;
// $acent: #fa5f1a;

@include theme($primary, $secondary, $morph-bg, $morp-nav, $para-font-weight, $acent);
